aiohttp==3.7.4.post0
alembic==1.6.5
altgraph==0.17
asgiref==3.4.1
async-timeout==3.0.1
asyncpg==0.24.0
attrs==21.2.0
backports.entry-points-selectable==1.1.0
CacheControl==0.12.6
cachy==0.3.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.1
cleo==0.8.1
click==8.0.1
clikit==0.6.2
colorama==0.4.4
crashtest==0.3.1
distlib==0.3.2
fastapi==0.66.1
filelock==3.0.12
Flask==2.0.1
future==0.18.2
greenlet==1.1.0
gunicorn==20.1.0
h11==0.12.0
html5lib==1.1
httptools==0.2.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
keyring==21.8.0
lockfile==0.12.2
Mako==1.1.4
MarkupSafe==2.0.1
msgpack==1.0.2
multidict==5.1.0
packaging==20.9
pastel==0.2.1
pefile==2019.4.18
pexpect==4.8.0
pipenv==2021.5.29
pkginfo==1.7.1
platformdirs==2.0.2
poetry==1.1.7
poetry-core==1.0.3
psycopg2==2.9.1
ptyprocess==0.7.0
pydantic==1.8.2
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylev==1.4.0
pyparsing==2.4.7
pypyodbc==1.3.2
python-dateutil==2.8.2
python-dotenv==0.18.0
python-editor==1.0.4
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.26.0
requests-toolbelt==0.9.1
shellingham==1.4.0
six==1.16.0
SQLAlchemy==1.4.22
starlette==0.14.2
tomlkit==0.7.2
typing-extensions==3.10.0.0
unicorn==1.0.3
urllib3==1.26.6
uvicorn==0.14.0
virtualenv==20.5.0
virtualenv-clone==0.5.5
watchgod==0.7
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
yarl==1.6.3
